
/* FIX spacing on input row */
#entryRow {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

/* better spacing between elements */
#entryRow input,
#entryRow button {
    margin-right: 10px;
}

/* prevent cramped feel */
#entryRow button {
    padding: 18px 35px;
}

/* smoother mobile behaviour */
#spinInput {
    font-size: 120%;
}
